
*.jar
*.lock
*.bin
*.class
*.properties
*.receipt
*.module
*.pom
*.zip
*.lck
Fit/wrapper/dists/gradle-8.0-bin/ca5e32bp14vu59qr306oxotwh/gradle-8.0/LICENSE
Fit/wrapper/dists/gradle-8.0-bin/ca5e32bp14vu59qr306oxotwh/gradle-8.0/README
Fit/wrapper/dists/gradle-8.0-bin/ca5e32bp14vu59qr306oxotwh/gradle-8.0/NOTICE
Fit/wrapper/dists/gradle-8.0-bin/ca5e32bp14vu59qr306oxotwh/gradle-8.0/init.d/readme.txt
*.bat
Fit/.tmp/gradle_download16787187510573125626bin
Fit/wrapper/dists/gradle-8.0-bin/ca5e32bp14vu59qr306oxotwh/gradle-8.0/bin/gradle
*.log
*.dll
Fit/caches/transforms-3/7cdd33922ad26b1db110081458f02a12/transformed/D8BackportedDesugaredMethods.txt
Fit/wrapper/dists/gradle-8.0-bin/ca5e32bp14vu59qr306oxotwh/gradle-8.0-bin.zip.ok
*.aar
*.xml
*.txt
*.png
*.json
Fit/caches/transforms-3/3aeedd55ec635aeb47b581d47781cd2b/transformed/jetified-integrity-1.1.0/LICENSE
*.aidl
*.dex
*.0-runtime
*.flat
Fit/caches/transforms-3/da4e9e32f25a96b04397ebc5717cae8c/transformed/aapt2-8.1.3-10154469-windows/NOTICE
Fit/caches/transforms-3/da4e9e32f25a96b04397ebc5717cae8c/transformed/aapt2-8.1.3-10154469-windows/META-INF/MANIFEST.MF
Fit/caches/transforms-3/da4e9e32f25a96b04397ebc5717cae8c/transformed/aapt2-8.1.3-10154469-windows/aapt2.exe
*.2-runtime
Fit/caches/transforms-3/f77161f481bc184244627f04e7b596d9/transformed/jetified-firebase-appcheck-17.1.1-runtime
Fit/caches/transforms-3/f0843af22a4964effc5042e222f8c5d9/transformed/jetified-annotations-4.1.1.4
Fit/caches/transforms-3/f135c668adc07f680418b1e5065b435c/transformed/jetified-startup-runtime-1.1.1-runtime
Fit/caches/transforms-3/e9d294ac51f088d7e326d39be320b3cc/transformed/jetified-jsr305-3.0.2
